<div class="container">
<h1>Stupid Coaching</h1>
<form action="/answer" data-turbo="false" method="GET">
  <div class="input-group input-group-lg">
  <input type="text" name ="question" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>
 <br>
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
